rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /flavors_entries/{entryId} {
      // Herkes gönderebilir (isim + görsel kontrolü)
      allow create: if request.resource.data.name is string
        && request.resource.data.name.size() > 0
        && request.resource.data.name.size() <= 40
        && request.resource.data.event == 'CHOOSING THE FLAVORS'
        && request.resource.data.image is string
        && request.resource.data.image.size() > 0
        && request.resource.data.image.size() < 1040000;

      // Sadece giriş yapmış admin okur / siler
      allow read, delete: if request.auth != null;
      allow update: if false;
    }
  }
}
